*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(78, 160, 255);
    height: 13vh;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-size: 50vh;
}

#centratura{
    width: 70%;
    margin: auto;
}

header img{
   width: 25vh;
   margin-top: 5vh;
}

#page-autor{
    color: blue;
}

#data-size{
    font-size: 12px;
    margin-bottom: 50px;
}

#info-autore{
    margin-bottom: 30px;
}

#image-subject{
    font-size: 2vh;
}

main{
    width: 70%;
    margin: auto;
}

#lorem{
   font-size: 2.5vh;
   margin-top: 40px;
}

